
  
body {
    background-color: #E6E6FA;
}

div,
p {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.container {
    position:relative;
    display:flex;
    width: 100%;
}

.card {
    width: 22%;
    margin: 2%;
    box-shadow: 5px 5px #D3D3D3;
    background-color: white;
}

.card:hover {
  box-shadow: 10px 10px #D3D3D3;



.image {
    border-radius: 20px;
    border: 5px solid white;
    padding: 3px;
    display: block;
    width: 100%;
}

.para {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

button {
    background-color: #FFA500;
    border: none;
    padding: 10px;
}

button:hover {
    background-color: #D2691E;
    cursor: pointer;
}

img {
    width: 100%;
    height: 100%;
    margin: 0px;
}

p {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
© 2021 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
Loading complete